<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TicTacToe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TicTacToe.Properties.Settings>
            <setting name="gridSize" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="gameMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="theme" serializeAs="String">
                <value>0</value>
            </setting>
        </TicTacToe.Properties.Settings>
    </userSettings>
</configuration>